Flask==3.1.1
python-dotenv==1.1.1
b2sdk==2.9.4
opencv-python==4.9.0.80
imageio==2.31.1
imageio-ffmpeg==0.4.8
numpy==1.26.4
torch==2.7.1
sentence-transformers==4.1.0
pymongo==4.13.2
langchain==0.3.26
langchain-google-genai==2.1.6
langchain-community==0.3.27
langchain-chroma==0.2.4
chromadb==1.0.15
fastembed==0.7.1
keybert==0.9.0
nltk==3.8.1
requests==2.32.4
gunicorn==22.0.0
transformers==4.53.0
Pillow==11.2.1
av==15.0.0
faster-whisper==1.1.1
ctranslate2==4.6.0